body {
	background: url("../img/backg.jpg") no-repeat center center fixed;
	background-size: cover;
}

.key {
	transition: all 0.1s ease;
	font-size: 1rem;
}

#piano {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 150px;
	width: 600px;
}

#top-row {
	width: 100%;
	height: 66%;
	text-align: center;
	font-size: 0;	
}

.top-white, .black{	
	display: inline-block;
	height:100%;
	width: 30px;
	background-color: hsla(0, 100%, 100%, 0.7);
	box-sizing: border-box;
	border-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	vertical-align: middle;
}

.black {
	background-color: hsla(0, 100%, 0%, 0.7);
	color: white;
	border-color: black;	
	padding-top: 4.5rem;
	
}

#bottom-row {
	width: 100%;
	height: 34%;
	text-align: center;
	font-size: 0;
}

.bottom-full, .bottom-half {
	background-color: hsla(0, 100%, 100%, 0.7);
	display: inline-block;
	height: 100%;
	box-sizing: border-box;
	border-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-radius: 0 0 5px 5px;	
	padding-top: 1.5rem;
}

.bottom-full {
	width: 60px;
}

.bottom-half {
	width: 45px;
}

.playing {
	box-shadow: 0 10px 15px 0px;
	color: hsl(0, 100%, 25%);
}