body {
	background: url("../img/backg.jpeg") no-repeat center center fixed;
	background-size: cover;
}

#piano {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 150px;
	width: 600px;
	/*border: 1px solid red;
	background-color: blue;*/
}

#top-row {
	width: 100%;
	height: 66%;
	/*background-color: yellow;*/
	text-align: center;
	font-size: 0;
}

.top-white, .black{	
	display: inline-block;
	height:100%;
	width: 30px;
	background-color: hsla(0, 100%, 100%, 0.7);
	box-sizing: border-box;
	border-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
}

.black {
	background-color: hsla(0, 100%, 0%, 0.7);
}

#bottom-row {
	width: 100%;
	height: 34%;
	text-align: center;
	font-size: 0;
}

.bottom-full, .bottom-left, .bottom-right {
	background-color: hsla(0, 100%, 100%, 0.7);
	display: inline-block;
	height: 100%;
	box-sizing: border-box;
	border-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
}

.bottom-full {
	width: 60px;
}

.bottom-left, .bottom-right {
	width: 45px;
}

